<!DOCTYPE html>
<html>

{% load static %}
{% load sass_tags %}

<head>
	<title> Iniciar Sesión </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% sass_src 'scss/login.scss' %}" /> 
</head>

<body class ="init">

	<section class ="logo">
		<img src="{% static 'scss/lg.png' %}">
		<p> Datos de Usuario</p>
	</section>


	<section class ="data">
		<input type="text" name="user" placeholder="Email"  autofocus>
		<input type="password" name="pass" placeholder="Contraseña" required >
	</section>


	<section class="final">
		<a href=""> Registrarse </a>
		<a href=""> ¿Olvidó su contraseña? </a>
		<input type="submit" name="submit-i" value="Iniciar Sesión">
	</section>

</body>

</html>