<!DOCTYPE html>
<html>

{% load static %}
{% load sass_tags %}

<head>
	<title> Cita </title>
	<link rel="stylesheet" type="text/css" href="{%  sass_src  'scss/s_cita.scss'%}">
</head>

<body>

	
	<section class ="info">
		<h2>Describa su síntoma</h2>
		<div class="pla">
			<textarea class="txt"></textarea>
		</div>
	</section>

	<nav class= "menu">
		<ul>
			<a href=""> <li> Ver Indicaciones </li></a>
			<a href=""> <li> Solicitar Cita </li></a>
			<a href=""> <li> Editar Perfil </li></a>
		</ul>
	</nav>




</body>
</html>