$color1 : #acfcff ;
$c2: 1;
$orange: #ffa500;
$back-color1: #2dc9ca;
$back-color2: #284cd2;
$button-color:#6687c6;
$p: fade-in($orange, 1);
$div-background: #2e3338;

@mixin font ($size, $weight, $family)
{
  font: 
  {
    size: $size;
    weight: $weight;
    family: $family;
  }
}


body 
{
  @include font(18px, bold, "Lucida Sans Unicode");
  color:black;
  background: #ffffff;

  //background: $back-color1; 
  //background: -webkit-linear-gradient(left, $back-color1, $back-color2);
  //background: -moz-linear-gradient(left, $back-color1, $back-color2); 
  //background: -ms-linear-gradient(left, $back-color1, $back-color2); 
  //background: -o-linear-gradient(left, $back-color1, $back-color2); 
  //background: linear-gradient(to right, $back-color1, $back-color2);
  
  .horizontal
  {
    width: 98%;
    //width:100px;
    height: 50px;
    //background: $back-color2 ;
    //background: #2E3338;
    //margin-right:50px;
    //padding-right:50px;
    margin-left: 20px;
    //padding-right:10px;
    padding-left:0;
  }


  .sect-main
  {
    width: 70%;
    //background-color: $p;
    margin: auto;
    padding: 10px;
    margin-bottom: 0px;

    img
    {   
      width: 1000px;
      max-width: 1000px;
      min-width: 300px;
      height: 300px;
      max-height:350px;
      min-height: 150; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-style: none;
      border-radius: 3%;
      //border-color: #2dc9ca ;
    }

    header
    {
      max-width: 1000px;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }

    .nav-main 
    {width:1000px;
      min-width: 300px;


      ul
      {
        text-align: center;
        padding-right: 15px;
        padding-inline-start: 0px;

        li
          {
          //border-style: dotted;
          color:white;
          width: 200px;
          height:25px;
          list-style: none;
          display: inline-block;
          background:  $button-color;
          border-radius: 3%;
          border-color: $button-color;
          padding-top: 15px;
          padding-bottom: 15px;
          margin-right:15px;
          margin-left: 15px;
        

          } 

          li:hover
          {
          //background: fade-out($button-color, 0.9);
          padding-right: 30px;
          padding-left: 15px;
          border-radius: 5%;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          

          }   
      }

    }
  }


  .init-session
  {
    display: block;
    text-align: center;

      input[type="button" i]
      {
        @include font(20px, bold, "Lucida Sans Unicode");
        color:white;
        background: $button-color;
        border-color: $button-color;
        width: 300px;
        max-width: 330px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3%;   
        margin-right: 100px;
        margin-left: 100px;

      }


      input[type="button" i]:hover
      {
          
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border-radius: 5%; 
        padding-left: 15px;
      }

      .lorem
      {
        @include font(24px, normal, "Lucida Sans Unicode");
        display: block;
        width:800px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        

      }

      .loremjt
        {
          @include font(20px, normal, "Lucida Sans Unicode");
          text-align: justify;
          display: block;
          width:800px;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 20px;
          
        }

  }


  footer
  {

   @include font(12px, normal, "Lucida Sans Unicode");
    text-align: center;
    display: block;
  }
  
}

//Hacer el primer div horizontal y luego se prueba con los demás verticales
// line-height ==> Para acomodar la posicion vertical del texto