@import "register.scss";


.imgp
{	@include font(18px,bold,"Helvetica");
	width: 200px;
	display: block;
    margin-right: -300px;
    margin-left: 180px;
    margin-top: 20px;
    transform: translateY(100px);
    
    img
    {
   	height: 100px;
    width: 100px;
    }
}

section
{
	display: block;
	margin-right: auto;
	margin-left:auto;

	input
	{

	}
}

.data
{
	display: block;
	margin-top:-70px;

}