<!DOCTYPE html>
<html>
{% load static %}





<head>
	<title>Inicio</title>
</head>


<body>
	<section>
		<header> 
			<input type="button" name="inits" value="Iniciar Sesión">
			<nav>  
				<ul> 
					<li> Inicio </li>
					<li> Consultas </li>
					<li> Acerca de </li>
					<li> Registrarse </li>

				</ul>
			</nav>
		</header>
	</section>



<section>
	<!-- Imagenes pricipales y other shit  -->



</section>













<style type="text/css">
	
	li { 
  padding: 5px;
  border-style: solid;
  max-width: 100px;
  display: inline-grid;}
</style>




<footer>  Footer shit  </footer>



</body>

</html>