<!DOCTYPE html>
<html>
{% load static %}

{% load sass_tags %}



<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/m.scss' %}">
</head>


<body>
	<section class=" container-fluid ">
		<header> 
			<input type="button" name="inits" value="Iniciar Sesión">
			<nav>  
				<ul> 
					<li> Inicio </li>
					<li> Consultas </li>
					<li> Acerca de </li>
					<li> Registrarse </li>

				</ul>
			</nav>
		</header>
	</section>



<section>
	<!-- Imagenes pricipales y other shit  -->



</section>




<footer>  Footer shit  </footer>



</body>

</html>