<!DOCTYPE html>
<html>

{% load static %}
{% load sass_tags %}

<head>
	<title> Iniciar Sesión </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}" /> 
</head>

<body>

<header> 
	<nav> 
		 <ul> Shit ton of gold</ul>
		 <li> Shit</li>
 	</nav>  
</header>
<section>
	<img src="">
</section>



<section>
	<input type="text" name="user" placeholder="Usuario"  >
	<input type="password" name="pass" placeholder="Contraseña">
</section>




<nav>
	<a href=""> Registrarse </a>
	<br>
	<a href=""> Olvidó su contraseña </a>
</nav>




<footer> 		

</footer>

</body>

</html>