<!DOCTYPE html>
<html>
{% load static %}
{% load sass_tags %}


<head>
	<title>	Pacientes </title>
	<link rel="stylesheet" type="text/css" href=" {% sass_src  'scss/paciente.scss'%}">
</head>
<body>

	<div class ="paciente">
		<p>	
			Hola, Paciente
		</p>
		<img src=" {% static 'scss/usr.png' %}">
	</div>

	<nav class= "menu">
		<ul>
			<a href=""> <li> Ver Indicaciones </li></a>
			<a href=""> <li> Solicitar Cita </li></a>
			<a href=""> <li> Editar Perfil </li></a>
		</ul>
	</nav>

	<div class="box"></div>
	<section class = "info">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu diam leo. In at aliquam orci, eu imperdiet felis. Aenean sodales orci arcu, non blandit purus luctus non. Donec massa risus, aliquam a neque quis, blandit fermentum enim. Curabitur efficitur molestie tellus at pharetra. Nam quis nisi at erat faucibus scelerisque. Praesent pulvinar non augue non elementum.
		</p>

	</section>

</body>
</html>